+div {
    background-image: radial-gradient(circle, #ccc 1px);
    border-style: solid;
    border-width: 2px;
    border-color: black;
  }
  
  img {
    max-width: 80%;
  }
  
  #header {
    background-color: #d4a373;
  }